.navbar.center .navbar-collapse {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    float: none;
    display:inline-block;   
}

.navbar-custom{
	min-height: 70px;
	background-color: #111;
}

.nav.navbar-nav{
	margin-bottom: -6px;
}

.nav>li{
	display: inline-block;	
}

.nav>li>a, #mobile-menu{
	min-height: 45px;	
	padding: 0px;
	margin: 25px 25px 0px 25px;

	color: #fff;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

.icon-bar{
	background-color: #fff;
}

.nav>li:hover, .nav>li>a:hover{
	background-color: #222222;
}

.nav>li>a:focus {
	background-color: transparent;
}

.active {
	background-color: #ec494c;
	border-bottom: 1px solid white;
}

#intro{
	min-height: 500px;
	margin-top: 70px;
	background-color: #ec494c;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: 1237.5px 930px;
	background-position: 10% 50%;
}

#intro>div{
	width: 50%;
	min-height: 500px;
	margin:auto;
	padding-top: 30px;
}

#intro>div>div>img{	
	display: block;
	margin: auto;	
}

#logo-pic{
	height: 250px;
	-webkit-border-radius: 50px;	
	-moz-border-radius: 50px;
	-webkit-box-shadow: 0 0 100px;
	-moz-box-shadow: 0 0 100px;
}

#logo-txt{
	height: 175px;
	
}