*, a{		
	color: white;
	text-decoration:none;
	transition: all 0.5s ease 0s;
}

*::selection {
    background: #df4244;
    color: #fff;
    text-shadow: none;
}

.navbar.center .navbar-collapse {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    float: none;
    display:inline-block;   
}

.navbar-custom{
	min-height: 70px;
	background-color: #111;
}

.nav.navbar-nav{
	margin-bottom: -6px;
}

.nav>li{
	display: inline-block;	
}

.nav>li>a, #mobile-menu{
	min-height: 45px;	
	padding: 0px;
	margin: 25px 25px 0px 25px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;	
}

.icon-bar{
	background-color: #fff;
}

.nav>li:hover, .nav>li>a:hover{
	background-color: #222222;
}

.nav>li>a:focus {
	background-color: transparent;
}

#intro-btn a img{
	height: 62px;
	width: auto;
	margin-top: -20px;
}

.active {
	background-color: #ec494c;	
}

#intro{
	min-height: 600px;
	margin-top: 70px;
	padding-top: 50px;
	background-color: #ec494c;
	background-image: url("../img/computer-bg.jpg");
	background-repeat: no-repeat;
	background-size: 1237.5px 930px;
	background-position: 10% 50%;
}

#intro>div{
	width: 50%;
	min-height: 500px;
	margin:auto;
	padding-top: 30px;
}

#logo-pic{
	height: 250px;
	-webkit-border-radius: 50px;	
	-moz-border-radius: 50px;
	-webkit-box-shadow: 0 0 100px black;
	-moz-box-shadow: 0 0 100px black;
}

#logo-txt{	
	height: 175px;	
	padding-top: 20px;
}

#about{
	background-color: #323232;
	min-height: 300px;
	padding: 40px 0px 40px 0px;
}

#about-body{
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

#about-links>div{
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif;	
}

.btn-social{
	background-color: transparent;
	border: 1px solid #ec494c;	
	min-width: 180px;	
	font-size: 25px;
}

.btn-social:hover, .btn-social:focus{
	background-color: #ec494c;	
}

.fa{
	color: white; 
	padding-right:15px;	
	font-size: 25px;
}

.carousel{
	height: 700px;
	background-color: #ec494c;
}

.carousel-inner, .item, .item img {
	height: 100%;
	overflow: hidden;	
}

.carousel-indicators>li{
	margin-left: 5px;
	margin-right: 5px;
}

.item img {
	margin-top: -150px;	
}

.carousel-caption {
	height: 100%;
	top: 25%;
}
.carousel-caption>h3 {
	text-transform: uppercase;
	font-size: 60px;
}
.carousel-caption>p {	
	font-size: 18px;
	padding: 40px 0px 50px 0px;
}

.btn-project{
	font-family: Ubuntu;
	background-color: transparent;	
	border: 1px solid #fff;		
	min-width: 180px;	
	font-size: 18px;
}
.btn-project:hover {
	background-color: #fff;
	color: #ec494c !important;	
	-webkit-box-shadow: 0 0 80px black;
	-moz-box-shadow: 0 0 80px black;
}

#example *{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;	
}

#example h3{
	color: #000;
	font: 20px 'Cormorant Garamond', serif;
	font-style: italic;
}

#example h1{
	color: #df4244;
	text-transform: uppercase;
	text-shadow: 0 1px 10px rgba(0,0,0,.8);	
	font-size: 60px;
	width: auto;
	margin-top: 40px;
	margin-bottom: 30px;

	position: relative;    
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

#example h1:before, #example h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 5px;
    content: '\a0';
    background-color: #df4244;
}

#example h1:before {
    margin-left: -50%;
    text-align: right;
}


#art{
	display: block;
	max-width: 720px;
	min-width: 500px;
	width: 60%;
	height: auto;

	-webkit-box-shadow: 0 0 100px black;
	-moz-box-shadow: 0 0 100px black;
}

.btn-art{
	margin-top: 40px;
	margin-bottom: 50px;
	background: #ec494c;
	max-width: 200px;
	font-size: 30px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;		
}

.btn-art:hover, .btn-art:focus{
	color: #fff;
	-webkit-box-shadow: 0 0 50px #df4244;
	-moz-box-shadow: 0 0 50px #df4244;
}

#contact {
	background-color: #161616;
	height: 500px;
	padding-bottom: 20px;
	text-shadow: 0 1px 2px rgba(255,255,255,.6);
}

#contact h2{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	padding-top: 100px;
}

#contact h4{
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 18px;
}

#contact a{	
	width: 530px;
}

#contact h1{
	color: #df4244;
	text-shadow: 0 1px 3px rgba(263, 73, 76,.8);	
	padding-bottom: 3px;	
	font-size: 40px;
	width: 530px;	
	margin: auto;
}

#contact a:hover, #contact a:active{
	text-decoration: none;

}

#contact h1:hover, #contact h1:active{
	color: #df4244;	
	border-bottom: 2px solid rgb(263, 73, 76);
	transition: none;
}
